version: '3.8'
services:
  micro_catalogo:
    build: ./micro_Catalogo
    ports:
      - "8081:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3309/catalogodb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=AppRoot
      - SPRING_DATASOURCE_PASSWORD=abcd
    depends_on:
      - catalogo-db
  catalogo-db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=catalogodb
      - MYSQL_ROOT_PASSWORD=abcd
      - MYSQL_USER=AppRoot
      - MYSQL_PASSWORD=abcd
    ports:
      - "3309:3306"

  micro_sucursal:
    build: ./micro_Sucursal
    ports:
      - "8082:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3310/sucursalesdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=AppRoot
      - SPRING_DATASOURCE_PASSWORD=abcd
    depends_on:
      - sucursal-db
  sucursal-db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=sucursalesdb
      - MYSQL_ROOT_PASSWORD=abcd
      - MYSQL_USER=AppRoot
      - MYSQL_PASSWORD=abcd
    ports:
      - "3310:3306"

  micro_cliente:
    build: ./micro_Cliente
    ports:
      - "8083:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3311/clientesdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=AppRoot
      - SPRING_DATASOURCE_PASSWORD=abcd
    depends_on:
      - cliente-db
  cliente-db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=clientesdb
      - MYSQL_ROOT_PASSWORD=abcd
      - MYSQL_USER=AppRoot
      - MYSQL_PASSWORD=abcd
    ports:
      - "3311:3306"

  micro_ventas:
    build: ./micro_Ventas
    ports:
      - "8084:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3312/ventasdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=AppRoot
      - SPRING_DATASOURCE_PASSWORD=abcd
    depends_on:
      - ventas-db
  ventas-db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=ventasdb
      - MYSQL_ROOT_PASSWORD=abcd
      - MYSQL_USER=AppRoot
      - MYSQL_PASSWORD=abcd
    ports:
      - "3312:3306"

  micro_reporte:
    build: ./micro_Reporte
    ports:
      - "8085:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3313/reportesdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=AppRoot
      - SPRING_DATASOURCE_PASSWORD=abcd
    depends_on:
      - reporte-db
  reporte-db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=reportesdb
      - MYSQL_ROOT_PASSWORD=abcd
      - MYSQL_USER=AppRoot
      - MYSQL_PASSWORD=abcd
    ports:
      - "3313:3306"
