server:
  port: 9000

spring:
  application:
    name: oauth-server
  
  datasource:
    url: jdbc:postgresql://localhost:5433/auth_db
    username: postgres
    password: abcd
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
